.form{
    text-align: center;
}

.teamButton{
    width: 180px;
    background-color: #3f51b5;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.table{
    padding-left: 570px;
    text-align: center;
    text-align-last: center;
}

.table2{
    padding-left: 200px;
    text-align: center;
    text-align-last: center;
    border-collapse: collapse; 
}

.currentPlayer{
    padding-left: 200px;
    text-align: center;
    text-align-last: center;
}

.tablee2 {
    margin: 0 auto;
}