.form{
    text-align: center;
}

.teamButton{
    width: 180px;
    background-color: #3f51b5;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.textField{
    width: 400px;
    padding-bottom: 50px;
}

.teamTextField{
    padding-bottom: 50px;
    display: inline-flex;
}

.teamTextField1{  
    width: 180px;    
    padding-right: 20px;
}

.teamTextField2{ 
    width: 90px;
    padding-right: 20px;
}

.teamTextField3{
    width: 90px;
}

.inline{
    display: inline-flex
}

img {
  max-width:500px;
  max-height:500px;
  width: auto;
  height: auto;
}